name: Build iOS App
on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install buildozer
          pip install kivy-ios
          brew install autoconf automake libtool pkg-config nosetists cmake

      - name: Build with Buildozer
        run: buildozer ios debug
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: iOS-App
          path: bin/*.ipa
